@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Estilo del Modal */
.modal-content {
    z-index: 1050;
    color: #ffcc00;
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #ff5733;
    border: 3px solid #ffcc00; /* Bordes dorados */
    border-radius: 8px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}


.modal-header {
    border-bottom: 2px solid #ffcc00;
}

.modal-title {
    font-size: 1.5rem;
    color: #ffcc00;
    text-shadow: 2px 2px 0 #0b025a, 4px 4px 0 #91c3ff;
}

.modal-body {
    padding: 20px;
    font-size: 1rem;
    color: #ffffff;
}

.modal-footer {
    border-top: 2px solid #ffcc00;
}

/* Estilo del campo de texto */
form {
    margin-top: 15px;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #333;
    background-color: #ffffff;
    border: 2px solid #ffcc00;
    border-radius: 8px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 4px 4px 0 #000;
    transition: transform 0.2s, box-shadow 0.2s;
}

form input[type="text"]:focus {
    outline: none;
    border-color: #0066ff;
    box-shadow: 6px 6px 0 #000;
}

/* Estilo del botón */
button {
    background-color: #0066ff;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 4px 4px 0 #000;
    margin-top: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 0 #000;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
