@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.ranking-container {
    text-align: center;
    position: relative;
    min-height: 100vh; /* Asegura que el contenedor cubra toda la altura de la ventana */
    width: 100vw; /* Asegura que el contenedor cubra toda la anchura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    background-image: url('./images/background.png'); /* Ruta de la imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: top center; /* Comienza desde la parte superior y está centrada horizontalmente */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Título con efecto ola */
.ranking-title {
    font-size: 2.5rem;
    position: relative; /* Usar position relative para asegurar que no se monte sobre otros elementos */
    top: 150px; /* Establecer la distancia desde la parte superior */
    color: #ffcc00;
    text-shadow: 2px 2px 0 #000, 4px 4px 0 #ff5733;
    margin-bottom: 1rem; /* Reducir el margen inferior para evitar demasiado espacio */
    display: flex;
    justify-content: center;
    gap: 0.1rem;
}

/* Movimiento de onda para cada letra */
.ranking-letra {
    display: inline-block;
    animation: wave 1.5s infinite ease-in-out;
}

/* Estilos de la tabla */
table {
  width: 70%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  background-color: white; /* Fondo blanco */
  margin-top: 200px; /* Deja espacio suficiente debajo del título para la tabla */
}

table thead {
  background-color: #f4f4f4;
  color: #333;
}

table th, table td {
  padding: 0.5rem; /* Espaciado más compacto */
  text-align: center;
  border: 1px solid #ddd; /* Bordes ligeros */
}

table tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Fila impar en gris claro */
}

table tbody tr:nth-child(even) {
  background-color: white; /* Fila par con fondo blanco */
}

table tbody tr:hover {
  background-color: #e6f7ff; /* Resaltar fila al pasar el ratón */
}

table th {
  font-weight: 600; /* Negrita para los encabezados */
  font-size: 0.9rem; /* Tamaño más compacto */
}

table td {
  color: #555;
  font-size: 0.85rem; /* Texto más pequeño en las celdas */
}
